<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<!-- Configurations that affect the Test Framework -->
	<RunConfiguration>
		<MaxCpuCount>1</MaxCpuCount>
		<ResultsDirectory>TestResults</ResultsDirectory>
		<EnvironmentVariables>
			<!-- For debugging selectors, it's recommend to set the following environment variable -->
			<!--<DEBUG>pw:api</DEBUG>-->
			<PWDEBUG>console</PWDEBUG>
			<!--<PWDEBUG>10000</PWDEBUG>-->
		</EnvironmentVariables>
	</RunConfiguration>

	<!-- Playwright settings -->
	<Playwright>
		<BrowserName>chromium</BrowserName>
		<!--<BrowserName>firefox</BrowserName>-->
		<ActionTimeout>15000</ActionTimeout>
		<ExpectTimeout>15000</ExpectTimeout>
		<LaunchOptions>
			<Headless>false</Headless>
			<!--<Channel>msedge</Channel>-->
		</LaunchOptions>
		<StorageStatePath>.\Settings\login.json</StorageStatePath>
		
	</Playwright>
	
	<!-- NUnit adapter -->
	<NUnit>
		<NumberOfTestWorkers>24</NumberOfTestWorkers>
	</NUnit>
	
	<!-- Parameters used by tests at run time -->
	<TestRunParameters>
		<Parameter name="PortalUrl" value="https://opensource-demo.orangehrmlive.com/" />
		<Parameter name="BrowserName" value ="Chrome" />
		<!--<Parameter name="BrowserName" value ="Firefox" />-->
		<!--<Parameter name="BrowserName" value ="Edge" />-->
		<Parameter name="Username" value="Admin" />
		<Parameter name="Password" value="admin123" />
		<Parameter name="ActionTimeout" value ="30000" />
		<Parameter name="TraceView" value ="false" />
	</TestRunParameters>

	<!-- Configuration for loggers -->
	<configSections>
		<section name="execution-report" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<LoggerRunSettings>
		<Loggers>
			<Logger friendlyName="console" enabled="True">
				<Configuration>
					<Verbosity>detailed</Verbosity>
				</Configuration>
			</Logger>
			<Logger friendlyName="trx" enabled="True">
				<Configuration>
					<LogFileName>test-result.trx</LogFileName>
				</Configuration>
			</Logger>
			<Logger friendlyName="blame" enabled="True" />
		</Loggers>
	</LoggerRunSettings>
</RunSettings>